.footer-bottom {
    color: white;
    background-color: #6893B7;
    padding-top: 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.main-footer {
    color: white;
    background-color: #66ABC8;
    padding-top: 2em;
    position: relative;
    bottom: 0;
    width: 100%;
}