

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 900px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .bloc-tabs {
    display: flex;
  }
  .tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }
  
  button {
    border: none;
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
 
  .active-content {
    display: block;
  }



body{
  font-family: Arial, Helvetica, sans-serif;
}

.modal-wrapper{
  background: #fff;
  width: 80%;
  max-width: 800px;
  margin: 4rem auto;
}

.modal-header{
  background: #2c2c2c;
  color: #e9e9e9;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header span{
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content{
  padding: 1.5rem 1rem;
}

.modal-form{
  display: block;
  width: 300px;
  margin-bottom: 15px;
}
.modal-form label{
  display: block;
  color: black;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.modal-form input:focus{
  box-shadow:0px 0px 3px rgba(0, 0, 0, 2); 
}

.modal-footer{
  display: block;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1.8rem;
  background: #DD501D;
  color: #fff;
  border:none;
  outline: none;
  cursor: pointer;
}

.space{
  height:150px;
  width: 100%;
}

.form-cb {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-input {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.8em;
  align-self: flex-end;

}


.card-text-top {
  font-weight: bold;
  font-size: 18;
  display: inline-flex;
  border-bottom: 1px solid lightslategray;
}
.card{
  height: 125px;
}
.card-title{
  margin-left: 1em;
  justify-content: flex-start;
  align-self: flex-start;
}

.card-status {
  margin-left: auto;
  margin-right: 1em;
}

.card-des {
  font-size: 15;
}